/* CSS LAYOUT */


/* **************************************************************** */


/* Pagina inicio */

header h1 {
    grid-column: 1 / span-1;
    justify-self: center;
    align-self: center;
}

.banner {
    grid-column: 1 / 5;
    grid-row: 2/3;
}

.telefono {
    height: 50px;
    grid-column: 1 / span-1;
    justify-self: center;
    align-self: center;
    background-color: #FFCB13;
    padding: 14.5px;
    font-size: 18px;
    font-weight: bold;
}

.inicio h3 {
    grid-column: 1 / span-1;
    justify-self: center;
    align-self: center;
}

.inicio__texto {
    grid-column: 2/5;
}

h3.inicio__texto__subgrid1988 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    align-self: start;
}

p.inicio__texto__subgrid1988 {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    align-self: end;
    padding-top: 18px;
}

h3.inicio__texto__subgrid1994 {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: start;
    align-self: start;
}

p.inicio__texto__subgrid1994 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: end;
    align-self: end;
    padding-top: 18px;
}

.inicio__cajaFinal {
    height: 200px;
    background-color: #F99D9D;
    grid-column: 2/6;
}

.servicios__fotos {
    grid-column: 2/6;
}

.contactar {
    padding-top: 42px;
    padding-bottom: 33px;
}

.contactar h3 {
    grid-column: 1 / span-1;
    justify-self: center;
    align-self: center;
}

.contactar_email {
    grid-column: 2 / 6;
}

.registro {
    height: 41px;
    grid-column: 1 / span-1;
    justify-self: center;
    align-self: center;
    background-color: #FFCB13;
    padding: 10px;
    font-size: 18px;
}

.contactar_redes {
    grid-column: 2/6;
}

h3.contactar_redes__contacto {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    align-self: start;
}

ul.contactar_redes__contacto {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
    align-self: start;
    padding-top: 18px;
}

h3.contactar_redes__red {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: start;
    align-self: start;
}

ul.contactar_redes__red {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: start;
    align-self: start;
    padding-top: 18px;
}

footer p {
    grid-column: 1/6;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}